// Ready for custom styling
@font-face {font-family: "Avenir Black LINK"; src: url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.eot"); src: url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.woff") format("woff"), url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.svg#Avenir Black") format("svg"); }
@font-face {font-family: "Avenir Roman LINK"; src: url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.eot"); src: url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.woff") format("woff"), url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.svg#Avenir") format("svg"); }
@font-face {font-family: "Avenir Medium LINK"; src: url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.eot"); src: url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.svg#Avenir Medium") format("svg"); }

body
{
    background-color: $cusBlack;
}

.head-title.text-center h1
{
    color: $cusWhite;
    font-family: "Avenir Black LINK";
    font-size: 45pt;
    font-weight: bold;
    letter-spacing: 3px;
}

h5
{
    color: $cusBrown2;
    font-family: "Avenir Medium LINK";
    line-height: 20pt;
    font-size: 21pt;
}

h6
{
    color: $cusBrown2;
    font-size: 14pt;
    font-weight: lighter;
    font-family: "Avenir Roman LINK";
}

img
{
    border: transparent;
    border-radius: 1px;
}

.card
{
    margin: 10px;
    border: none !important;
}

.left_panel_info
{
    margin-top: 20pt;
    margin-left: -10pt;
    max-width: 250px;
}

.right_panel_info
{
    margin-top: 15pt;
}

.card-cus-bottom
{
    background-color: $cusBlack;
}

.bouton-image:before
{
    content: "";
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.bouton-image
{
    background-color: transparent;
    border-color: transparent;
}

.inter_info:before
{
    background-image : url(../images/interface/Button_Info_60.png);
    content: "";
    width: 60px;
    height: 60px;
}

.inter_info:focus, .inter_info:active, .inter_info:hover{
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.inter_like:before, .inter_like_filled:before
{
    background-image : url(../images/interface/Hearth_Empty_60.png);
    width: 60px;
    height: 60px;
}

.inter_like_filled:before
{
    background-image : url(../images/interface/Hearth_Filled_60.png);
    width: 60px;
    height: 60px;
}

.inter_like
{
    display: none;
}


.inter_like:focus, .inter_like:active, .inter_like:hover{
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.monBouton:before
{
    background-image : url(../images/Button_Arrow_Small.png);
}

.monBouton:hover
{
    background-color: transparent;
    border-color: $cusBrown3;
}

.monBouton:focus
{
    background-color: transparent;
    border-color: $cusBrown3;
    outline: none !important;
    box-shadow: none !important;
}

.monBouton:active
{
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.content {
    position: relative;
}

//Circle style button
.btn-circle.rounded-circle.btn-sm
{
    position: absolute;
    width: 120px;
    height: 120px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    background-color: $cusBlack;
    border-color: $cusBrown3;
    border-width: 5px;
    color:$cusBrown3;
    outline: none !important;
    box-shadow: none !important;
}

.btn-circle.rounded-circle.btn-sm:active
{
    background-color: $cusBrown2;
    border-color: $cusBrown3;
    outline: none !important;
    box-shadow: none !important;
    color:$cusBlack;
}

.btn-circle.rounded-circle.btn-dm
{
    position: absolute;
    width: 240px;
    height: 240px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    background-color: $cusBlack;
    border-color: $cusBrown3;
    color:$cusBrown3;
    border-width: 5px;
    outline: none !important;
    box-shadow: none !important;
}
.btn-circle.rounded-circle.btn-dm:active
{
    background-color: $cusBrown2;
    border-color: $cusBrown3;
    outline: none !important;
    box-shadow: none !important;
    color:$cusBlack;
}

.btn-circle.rounded-circle.btn-xl
{
    position: absolute;
    width: 360px;
    height: 360px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    background-color: $cusBlack;
    border-color: $cusBrown3;
    color:$cusBrown3;
    border-width: 5px;
    outline: none !important;
    box-shadow: none !important;
}
.btn-circle.rounded-circle.btn-xl:active
{
    background-color: $cusBrown2;
    border-color: $cusBrown3;
    outline: none !important;
    box-shadow: none !important;
    color:$cusBlack;
}

@media only screen and (max-width: 540px)
{
    .head-title.text-center h1
    {
        font-size: 45pt;
    }

    .btn-circle.rounded-circle.btn-sm
    {
        width: 90px;
        height: 90px;
    }

    .btn-circle.rounded-circle.btn-dm
    {
        width: 130px;
        height: 130px;
    }

    .btn-circle.rounded-circle.btn-xl
    {
        width: 180px;
        height: 180px;
    }
}
