// Ready for custom styling
@font-face {font-family: "Avenir Black LINK"; src: url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.eot"); src: url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.woff") format("woff"), url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.svg#Avenir Black") format("svg"); }
@font-face {font-family: "Avenir Roman LINK"; src: url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.eot"); src: url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.woff") format("woff"), url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1a045963159927274c92b0444fb83c17.svg#Avenir") format("svg"); }
@font-face {font-family: "Avenir Medium LINK"; src: url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.eot"); src: url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0983e84d4a1963e075b5ae8ca12e2a4f.svg#Avenir Medium") format("svg"); }

body {
    //font-family: 'Nunito Sans', sans-serif;
    background-color: $theme-color-five;

    .head-title h1 {
        color: $theme-color-one;
        font-family: Avenir;
        font-size: 60pt;
        font-weight: bold;
        letter-spacing: 3px;
    }

    .carousel {
        .carousel-inner {
            .museum-logo {
                display: flex;
                justify-content: center;
                position: absolute;
                top: 5%;
                width: 100%;
                z-index: 1;
            }

            .social-logo {
                text-align: center;
                justify-content: space-between;
                flex-wrap: nowrap;
                position: absolute;
                top: 25%;
                padding-left: 25px;
                width: 100%;
                z-index: 1;
            }

            .carousel-button {
                bottom: 10%;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                z-index: 1;
            }

            .carousel-item {
                height: 100vh;
                min-height: 350px;
                background: no-repeat center center scroll;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }

        .carousel-caption {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            background-color:  rgba(239, 218, 179, 0.5);

            /*h2 {
                font-family: Avenir Black;
                font-size: 11pt;
                letter-spacing: 3pt;
                color: $white;

            }*/

            p {
                font-size: 8pt;
                color: $theme-color-five;
            }
        }
    }

    /////////text types
    //většina běžných textů
    .text {
        font-family: Avenir Roman;
        font-size: 8pt;
        line-height: 9pt;
    }

    //text inputu a název artefaktů
    .text2{
        font-family: Avenir Medium;
        font-size: 8pt;
    }

    //název "kaplicky" a "choose a few" v categories (tam má jinou barvu)
    .kaplicky{
        color: $theme-color-one;
        font-size: 11pt;
        font-family: Avenir Black;
        letter-spacing: 3pt;
    }

    //autor artefaktu
    .text-author{
        font-family: Avenir Roman;
        font-size: 7pt;
        color: $theme-color-four;
    }

    //počet lajků
    .text-number{
        font-family: Avenir Medium;
        font-size: 5pt;
        color: $theme-color-four;
    }

    //notes u metadat, about v about, text levého menu
    .text-headline{
        font-family: Avenir Medium;
        font-size: 12pt;
        color: $theme-color-four;
    }

    //název metadata, text pravého menu
    .text-page{
        font-family: Avenir Medium;
        font-size: 7pt;
    }


    ////login
    .auth{
        .card{
            border: none;
            text-align: center;
            font-size: 8pt;
        }

        .col-form-label{
            text-align: left;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .form-control{
            padding: 0px;
            height: 17pt;
            //font-family: Avenir Medium;
            //font-size: 8pt;
        }
    }

    .card-body {
    	background-color: $theme-color-five;
    	font-family: Avenir Roman;
    	color: $theme-color-four;

	}

	.form-control {
    	background-color: $theme-color-five;
    	margin-top: -1px;
    	//border-bottom: 1px;
    	border-top-color: $theme-color-five;
    	border-left-color: $theme-color-five;
    	border-right-color: $theme-color-five;
    	border-bottom-color: 0.5pt $theme-color-one;
    	color: $theme-color-one;
        box-shadow: none;
        //transition: none;
        font-size: 8pt;
	}

    .form-control:focus {
        background-color: $theme-color-five;
        margin-top: -1px;
        //border-bottom: 1px;
        border-top-color: $theme-color-five;
        border-left-color: $theme-color-five;
        border-right-color: $theme-color-five;
        border-bottom-color: 0.5pt $theme-color-one;
        color: $theme-color-one;
        box-shadow: none;
        //transition: none;
        font-size: 8pt;
    }

    .button-square {
        font-size: 8pt;
        background-color: $theme-color-five;
        color: $theme-color-one;
        border: 0.5pt solid $theme-color-one;
        border-radius: 0;
        width: 6.5rem;
        height: 2rem;
        font-family: Avenir Roman;

        &:active, &:focus, &:visited {
            outline: none;
            box-shadow: none;
        }
    }

    .button-image {
        background-color: transparent;
        border-color: transparent;

        &:before {
            content: "";
            width: 100px;
            height: 100px;
            display: inline-block;
            margin-right: 5px;
            vertical-align: text-top;
            background-color: transparent;
            background-position : center center;
            background-repeat:no-repeat;
        }
    }
    
    .inter_info:before {
    	background-image : url(../images/interface/Button_Info_60.png);
    	content: "";
    	width: 60px;
    	height: 60px;
	}

	.inter_info:focus, .inter_info:active, .inter_info:hover {
    	background-color: transparent !important;
    	border-color: transparent !important;
    	outline: none !important;
    	box-shadow: none !important;
	}

	.inter_like:before, .inter_like_filled:before {
	    background-image : url(../images/interface/Hearth_Empty_60.png);
	    width: 60px;
	    height: 60px;
	}

	.inter_like_filled:before {
	    background-image : url(../images/interface/Hearth_Filled_60.png);
	    width: 60px;
	    height: 60px;
	}

	.inter_like {
	    display: none;
	}


	.inter_like:focus, .inter_like:active, .inter_like:hover {
    	background-color: transparent !important;
    	border-color: transparent !important;
    	outline: none !important;
    	box-shadow: none !important;
	}

    .monButton {

        &:before {
            background-image : url(../images/Button_Arrow_Small.png);
        }

        &:hover {
            background-color: transparent;
            border-color: $theme-color-four;
        }

        &:focus {
            background-color: transparent;
            border-color: $theme-color-four;
            outline: none !important;
            box-shadow: none !important;
        }

        &:active {
            background-color: transparent !important;
            border-color: transparent !important;
            outline: none !important;
            box-shadow: none !important;
        }
    }

    .content {
        position: relative;

        //Circle style button
            //Toto možná nebude zcela optimální pro ostatní circle buttony. Nehodící se propagujte do btn-categories.
        .btn-circle.rounded-circle {
            padding: 6px 0px;
            font-size: 16px;
            text-align: center;
        }
        .btn-categories
        {
            position: absolute;
            border-width: 5px;
            background-color: $theme-color-five;
            border-color: $theme-color-four;
            color:$theme-color-four;
            outline: none !important;
            box-shadow: none !important;
            font-family: Avenir Medium;

            &:active
            {
                background-color: $theme-color-three;
                border-color: $theme-color-four;
                outline: none !important;
                box-shadow: none !important;
                color:$theme-color-five;
            }
        }

        .btn-sm
        {
            width: 120px;
            height: 120px;
        }
        .btn-dm
        {
            width: 240px;
            height: 240px;
        }
        .btn-xl
        {
            width: 360px;
            height: 360px;
        }

    }
}

@media only screen and (max-width: 540px)
{

    .head-title.text-center h1
    {
        font-size: 45pt;
    }

    .btn-circle.rounded-circle.btn-sm
    {
        width: 90px;
        height: 90px;
    }

    .btn-circle.rounded-circle.btn-dm
    {
        width: 130px;
        height: 130px;
    }

    .btn-circle.rounded-circle.btn-xl
    {
        width: 180px;
        height: 180px;
    }

    body{
        .carousel {
            .carousel-inner {
                .social-logo {
                    padding-left: 30px;
                    top: 20%;
                }
            }
        }
    }
}

@media (min-width: 330px) and (max-height: 900px)
{
    body{
        .carousel {
            .carousel-inner {
                .social-logo {
                    top: 25%;
                }
            }
        }
    }
}
