// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Design fonts
//$font-family-avenir-roman: Avenir Roman;
//$font-family-avenir-medium: Avenir Medium;
//$font-family-avenir-black: Avenir Black;
$font-family-nunito-roman: Nunito Roman;
$font-family-nunito-medium: Nunito Medium;
$font-family-nunito-black: Nunito Black;

// Theme fonts
$font-family-style-one: $font-family-nunito-roman;
$font-family-style-two: $font-family-nunito-medium;
$font-family-style-three: $font-family-nunito-black;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black: #000;

// Design colors
$pastel-grey: #ddd1b9;
$whey: #efdab3;
$desert-sand: #ead4b0;
$raisin-black: #272727;

// Theme colors
$theme-color-one: $white;
$theme-color-two: $pastel-grey;
$theme-color-three: $whey;
$theme-color-four: $desert-sand;
$theme-color-five: $raisin-black;
